* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Open Sans', sans-serif;
     scroll-behavior: smooth;

}

:root {
     --main-text: black;

     --header-bg: #b4d0e7;

     --button-bg: #0061ff;
     --button-bg-hover: #6ba3fe;

     --designit-bg: #a2d39b;
     --designit-border: #e2ffe0;

     --asu-bg: #61082b;
     --asu-border: #ad0e4c;

     --uf-bg: #0093ce;
     --uf-border: #00b5ff;

     --designit-big-bg: #e1dddd;
     --designit-big-border: #c5c5c5;

     --tops-bg: #ff1c1c;
     --tops-border: #fb4c4c;

     --world-bg: #d5001f;
     --world-border: #ff0025;

     --lonely-bg: #0d2481;
     --lonely-border: #1439cd;

     --hearst-bg: #aed0ec;
     --hearst-border: #c6deff;

     --clear-bg: #ffd830;
     --clear-border: #fff330;
}

a,
a:visited {
     color: inherit;
     text-decoration: none;
}

/* nav */
.fixed-nav {
     width: 100%;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     height: 60px;
     background-color: white;
     position: fixed;
     z-index: 1;
}

.items-nav {
     width: 25%;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.small-logo {
     width: 25%;
}

.start {
     border: 0;
     background-color: var(--button-bg);
     color: white;
     font-size: 1.5rem;
     padding: 1%;
     line-height: 100%;
}

nav a {
     color: var(--main-text);
}

/* //nav */

/* header */
header {
     width: 100%;
     background-color: var(--header-bg);
     display: flex;
     justify-content: center;
}

h1 {
     font-size: 4.5rem;
     text-decoration: solid;
}

.container {
     max-width: 1200px;
     padding-top: 4%;
}

.jumbo {
     height: 50vh;
     padding: 2%;
}

.min-container {
     width: 60%;
     padding: 20px;
}

.min-container p {
     width: 100%;
     padding: 15px 0 20px;
}

.flex {
     display: flex;
     justify-content: center;
}

.header-img {
     width: 110%;
}

#prova {
     background-color: var(--button-bg);
     border: 0;
     color: white;
     height: 40px;
     padding: 1.9%;
     font-size: 1.2rem;
}

header i {
     font-size: 3rem;
     padding: 40px 0 20px
}

/* //header */

/* main */


.max {
     max-width: 1200px;
     margin: auto;
}

.fatturazione {
     text-align: center;
     padding: 3%;
}

.fatturazione>* {
     padding: 10% 0;
}

#gratis {
     font-size: 1.2rem;
     padding: 5%;
}

.main-container {
     max-width: 1200px;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
}

.inline {
     display: inline-block;
     font-size: 0.8rem;
}

.pocket {
     width: calc(100% / 3.2);
     border: 1px solid rgba(159, 159, 159, 0.687);
     padding: 4% 1%;
}

.plane>div {
     padding: 8% 0;
}

.fa-check {
     color: #0061ff;
}

.i-flex {
     display: flex;
     flex-flow: row nowrap;
     align-items: flex-start;
}

.i-flex>div {
     padding-left: 1%;
}

.team {

     margin-top: 20px;
     border: 1px solid rgba(159, 159, 159, 0.687);
}

.team>div {
     text-align: center;
     padding: 2%;
}

.d-flex {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
}

.info-enter {
     padding: 2%;
     border-top: 1px solid rgba(159, 159, 159, 0.687);
}

.left {
     width: 40%;
}

.rigth {
     width: 40%;
     text-align: right;
     padding-top: 5%;
}

.left>* {
     padding: 3% 1%;
}

#contatta {
     padding: 3%;
}

.partner-sec {
     display: flex;
     flex-flow: row nowrap;

     padding: 3% 0;
}

.partner-img img {
     width: 40vw;
}

.partner-div {
     width: 25vw;
     padding-left: 3%;
     display: flex;
     flex-flow: column;
     align-items: flex-start;
}

.partner-div h2 {
     padding: 8% 0 10%;
}

.partner-div p {
     padding-bottom: 10%;
}

.partner-div button {
     background-color: white;
     padding: 2%;
     border: 1px solid rgba(120, 119, 119, 0.687);

}

.info {
     padding: 3%;
     width: calc(100% / 3);
}

.img-info {
     width: 100%;
}

.c-flex {
     display: flex;
     flex-flow: column;
     width: 70%;
}

.utilizzatori {
     font-size: 1.5rem;
     padding: 10% 30% 5% 0
}

.sponsor-sec {
     padding: 1%;
     max-width: calc(99vw / 3);
     display: flex;
     flex-flow: column wrap;
     justify-content: flex-start;
     background-color: var(--designit-big-bg);
}

hr {
     margin: 3% 0;
     width: 60%;
}

.citazione {
     padding: 2% 0 4%;
}

.citatore {
     padding: 3%
}

.sponsor {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     width: calc(99vw / 3);
}

.container-sponsor {
     width: 99vw;
     padding-top: 10%;
}

.logo {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     width: calc(99vw / 3);
     width: 70%;
     padding: 10%;
}

.sponsor-1,
.sponsor-2,
.sponsor-3,
.sponsor-4,
.sponsor-5,
.sponsor-6,
.sponsor-7,
.sponsor-8 {
     width: calc(99vw / 6);
     height: calc(99vw / 6);
     border: 20px solid transparent;
     display: flex;
     align-items: center;
     justify-content: center;

}



.sponsor-1 {
     background-color: var(--designit-bg);
     transition: 1s;
}

.sponsor-1:hover {
     border-color: var(--designit-border);
     box-shadow: 0px 0px 70px 5px #4aef1d;
     z-index: 1;
}

.sponsor-2 {
     background-color: var(--asu-bg);
     transition: 1s;
}

.sponsor-2:hover {
     border-color: var(--asu-border);
     box-shadow: 0px 0px 70px 5px #700505;
     z-index: 1;
}

.sponsor-3 {
     background-color: var(--uf-bg);
     transition: 1s;
}


.sponsor-3:hover {
     border-color: var(--uf-border);
     box-shadow: 0px 0px 70px 5px #1a4fdf;
     z-index: 1;
}

.sponsor-4 {
     background-color: var(--tops-bg);
     transition: 1s;
}

.sponsor-4:hover {
     border-color: var(--tops-border);
     box-shadow: 0px 0px 70px 5px #f22c2c;
     z-index: 1;
}

.sponsor-5 {
     background-color: var(--world-bg);
     transition: 1s;
}

.sponsor-5:hover {
     border-color: var(--world-border);
     box-shadow: 0px 0px 70px 5px #b21414;
     z-index: 1;
}

.sponsor-6 {
     background-color: var(--hearst-bg);
     transition: 1s;
}

.sponsor-6:hover {
     border-color: var(--hearst-border);
     box-shadow: 0px 0px 70px 5px #74dbee;
     z-index: 1;
}

.sponsor-7 {
     background-color: var(--lonely-bg);
     transition: 1s;
}

.sponsor-7:hover {
     border-color: var(--lonely-border);
     box-shadow: 0px 0px 70px 5px #0904a0;
     z-index: 1;
}

.sponsor-8 {
     background-color: var(--clear-bg);
     transition: 1s;
}

.sponsor-8:hover {
     border-color: var(--clear-border);
     box-shadow: 0px 0px 70px 5px #dcf13b;
     z-index: 1;
}

.grey-bg {
     background-color: #b4d0e7;
     width: 100vw;
     display: flex;
     justify-content: center;
}

.g-flex {
     display: flex;
     justify-content: center;
     align-items: baseline;
}

.free {
     width: calc(100% / 2);
     padding: 15% 0%;
     font-size: 1.5rem;
     display: flex;
     justify-content: center;
}

.free>h2 {
     color: #61082b;
}

.answer {
     padding: 15% 0 10%;
     font-size: 2.2rem;
}


.free-test {
     border: 1px solid rgb(176, 175, 175);
     padding: 2px;
     width: 50%;
     font-size: 1rem;
}

.i-flex {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: baseline;
}

.i-flex>h4 {
     padding: 3% 2%;
     font-size: 1rem;
}

.min {
     max-width: 800px;
}

.min>hr {
     width: 110%;
}

/* //main */

/* footer */
footer {
     background-color: black;
}

.maxi {
     max-width: 1200px;
     margin: auto;
     padding: 5% 0;
     display: flex;
     flex-flow: row nowrap;
}

.maxi-ul {
     width: calc(100% / 5);
     display: flex;
     flex-flow: column nowrap;
     justify-content: ;
     color: white;
}

ul {
     list-style-type: none;
     padding: 6% 0;
}

li {
     padding: 2% 0;
}

.little-left{
     color: white;
     display: flex;
     flex-flow: row nowrap;
     justify-content: left;
     align-items: baseline;
     border-top: 1px solid white;
     padding-top: 2.5%;
}

.little-left> span{
     padding: 0 9%;
}
/* //footer */