*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Open Sans', sans-serif;
     
}

:root{
--main-text: black;

--header-bg:#b4d0e7;

--button-bg :#0061ff;
--button-bg-hover :#6ba3fe;

--designit-bg :#a2d39b;
--designit-border:#e2ffe0;

--asu-bg:#61082b;
--asu-border:#ad0e4c;

--uf-bg:#0093ce;
--uf-border:#00b5ff;

--designit-big-bg:#e1dddd;
--designit-big-border:#c5c5c5;

--tops-bg:#ff1c1c;
--tops-border:#fb4c4c;

--world-bg:#d5001f;
--world-border:#ff0025;

--lonely-bg:#0d2481;
--lonely-border:#1439cd;

--hearst-bg:#aed0ec;
--hearst-border:#c6deff;

--clear-bg:#ffd830;
--clear-border:#fff330;
}

a{
     text-decoration: none;
}

/* nav */
.fixed-nav{
     width: 100%;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     height: 60px;
     background-color:white;
     position: fixed;
     z-index: 1;
}

.items-nav{
     width: 25%;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.small-logo{
     width: 25%;
}

.start{
     border: 0;
     background-color:var(--button-bg) ;
     color: white;
     font-size: 1.5rem;
     padding: 1%;
     line-height: 100%;
}

nav a{
     color: var(--main-text);
}
/* //nav */

/* header */
header{
     width: 100%;
     background-color: var(--header-bg);
     display: flex;
     justify-content: center;
}

h1{
     font-size: 4.5rem;
     text-decoration: solid;
}

.container{
     max-width: 1200px;
     padding-top: 4%;
}

.jumbo{
     height: 50vh;
     padding: 2%;
}

.min-container{
     width: 60%;
     padding: 20px;
}

.min-container p{
     width: 100%;
     padding: 15px 0 20px;
}

.flex {
     display: flex;
     justify-content: center;
}
.header-img{
     width:  110%;
}
#prova{
     background-color: var(--button-bg);
     border: 0;
     color: white;
     height: 40px;
     padding:1.9%;
     font-size: 1.2rem;
}

header i {
     font-size: 3rem;
     padding: 40px 0 20px
}

/* //header */

/* main */
main{
     display: flex;
     flex-flow: column;
     align-items: center;
     padding: 7% 0 0;
}



.main-container{
     max-width: 1200px;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
}
.inline{
     display: inline-block;
}

.pocket{
     width: calc( 100% / 3.2);
     border: 1px solid grey;
     padding: 4% 1%;
     gap: ;
}

.plane> div{
     padding: 8% 0;
}

/* main */